:root {
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #ffffff;
  --secondary-text-color: #212121;
  --tertiary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --secondary-bg-color-dark: #2f303a;
  --primary-icon-color: #afb1b8;
  --logo-dark: #000000;
  --modal-ptimary-text-color: #000000;
  --button-background: #2196f3;
  --button-background-hover: #188ce8;
  --link-background-hover: #188ce8;
  --overley-background: rgba(33, 150, 243, 0.9);
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function-overley: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--tertiary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-timing-function) visibility var(--transition-timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu__close-icon:active {
  fill: var(--button-background-hover);
}

.menu__item-mobile {
  padding-bottom: 32px;
}

.menu-item__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-item__link.current {
  color: var(--accent-color);
}

.mobile-studio-contact-header {
  padding-top: 306px;
}

.mobile-tel__info {
  padding-bottom: 32px;
}

.mobile-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-mail__info {
  padding-bottom: 64px;
}

.mobile-social-icon-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-social__icon-item:not(:last-child)::after {
  content: " |";
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.modal-close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
  transition: var(--transition-timing-function);
}

.modal-form-submit {
  margin: 0 auto 0 auto;
  display: block;
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-timing-function);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background: var(--button-background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  column-gap: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: background-color var(--transition-timing-function), fill var(--transition-timing-function);
}
.social__link:hover, .social__link:focus {
  background: var(--button-background-hover);
  fill: var(--primary-text-color);
}

.cont-footer-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 70px;
}

.footer-social-icon-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-text-color);
  transition: background-color var(--transition-timing-function);
}
.footer-social__link:hover, .footer-social__link:focus {
  background: var(--button-background-hover);
}

.logo__element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.ligotip {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-dark);
  text-decoration: none;
}

.portfolio-logo__element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.portfolio-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-dark);
}

.logo__web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-decoration: none;
}

.portfolio-nav {
  display: flex;
  align-items: center;
}

.line-link {
  position: relative;
  padding: 32px 0 28px 0;
}

.portfolio-navigation {
  display: flex;
  column-gap: 50px;
}
.portfolio-navigation .portfolio__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-timing-function);
}
.portfolio-navigation .portfolio__link.current {
  color: var(--accent-color);
}
.portfolio-navigation .portfolio__link:hover, .portfolio-navigation .portfolio__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navilink {
    display: none;
  }
  .studio-contact-header {
    display: none;
  }
  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
  }
  .mobile-page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .open-mobile-menu-btn__icon {
    width: 24px;
    height: 16px;
  }
  .open-mobile-menu-btn__icon:active {
    fill: var(--button-background-hover);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid #ececec;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .nav-studio {
    display: flex;
    align-items: center;
  }
  .navilink {
    display: flex;
    column-gap: 50px;
  }
  .navilink .menu-item__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navilink .menu-item__link:hover, .navilink .menu-item__link:focus {
    color: var(--accent-color);
    transition: color var(--transition-timing-function);
  }
  .navilink .menu-item__link.current {
    color: var(--accent-color);
  }
  .menu__item {
    position: relative;
    padding: 32px 0 28px 0;
  }
  .navi-line::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--button-background);
    border-radius: 2px;
  }
  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .studio-contact-header {
    padding-top: 21px;
  }
  .studio-contact__header-item {
    padding-bottom: 10px;
  }
  .mail__info {
    color: var(--tertiary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition: color var(--transition-timing-function);
  }
  .mail__info:hover, .mail__info:focus {
    color: var(--accent-color);
  }
  .mail__logo {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .tel__info {
    color: var(--tertiary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition: color var(--transition-timing-function);
  }
  .tel__info:hover, .tel__info:focus {
    color: var(--accent-color);
  }
  .tel__logo {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-studio {
    display: flex;
    align-items: center;
  }
  .header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid #ececec;
  }
  .navilink {
    display: flex;
    column-gap: 50px;
  }
  .navilink .menu-item__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navilink .menu-item__link:hover, .navilink .menu-item__link:focus {
    color: var(--accent-color);
    transition: color var(--transition-timing-function);
  }
  .navilink .menu-item__link.current {
    color: var(--accent-color);
  }
  .menu__item {
    position: relative;
    padding: 32px 0 28px 0;
  }
  .navi-line::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--button-background);
    border-radius: 2px;
  }
  .header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid #ececec;
  }
  .studio-contact-header {
    column-gap: 50px;
    display: flex;
  }
  .mail__logo {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .mail__info {
    color: var(--tertiary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    display: flex;
    align-items: center;
    transition: color var(--transition-timing-function);
  }
  .mail__info:hover, .mail__info:focus {
    color: var(--accent-color);
  }
  .tel__logo {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
  .tel__info {
    color: var(--tertiary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    display: flex;
    align-items: center;
    transition: color var(--transition-timing-function);
  }
  .tel__info:hover, .tel__info:focus {
    color: var(--accent-color);
  }
}
.page-portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.contact-logo-mail {
  width: 16px;
  height: 12px;
  padding: auto;
}

.potfolio-contacts {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
}
.potfolio-contacts .mail-tel-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
  transition: color var(--transition-timing-function);
}
.potfolio-contacts .mail-tel-contact:hover, .potfolio-contacts .mail-tel-contact:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
    background: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 118px 0 118px 0;
  }
  .title-text {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
  }
  .button-studio:hover, .button-studio:focus {
    background: var(--button-background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 118px 0 118px 0;
  }
  .title-text {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
  }
  .button-studio:hover, .button-studio:focus {
    background: var(--button-background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 200px 0 200px 0;
  }
  .title-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
  }
  .button-studio:hover, .button-studio:focus {
    background: var(--button-background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
.portfolio-button {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}
.portfolio-button button {
  background: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color var(--transition-timing-function), background-color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.portfolio-button button:hover, .portfolio-button button:focus {
  background-color: var(--button-background);
  cursor: pointer;
  color: var(--primary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-studio-portfolio {
  padding: 60px 0px 60px 0px;
  background: var(--secondary-bg-color-dark);
  text-decoration: none;
  margin: 0 auto;
}

.container-list {
  display: flex;
  align-items: baseline;
}

.footercontact a:hover,
.footercontact a:focus {
  color: var(--accent-color);
}

.contact-studio-portfolio {
  margin-top: 20px;
}

.footercontact__maps {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  transition: color var(--transition-timing-function);
}

.maps-studio-portfolio {
  margin-bottom: 9px;
}

.footercontact__mail {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-footer-color);
  transition: color var(--transition-timing-function);
}

.mail-studio-portfolio {
  margin-bottom: 9px;
}

.footercontact__tel {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-footer-color);
  transition: color var(--transition-timing-function);
}

.footer-form {
  margin-left: 93px;
}

.footer-form-text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.footer-send-form {
  display: flex;
  align-items: center;
}

.footer-form__input {
  background: var(--secondary-bg-color-dark);
  width: 358px;
  height: 50px;
  color: var(--primary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
  display: flex;
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-submit {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-timing-function);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-submit:hover, .footer-form-submit:focus {
  background: var(--button-background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button-icon {
  position: relative;
}

.footer-icon-send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  transition: opacity 500ms ease, visibility 500ms ease;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 39px 40px 41px;
}

.modal-form__field:not(:first-child) {
  margin-top: 10px;
}

.modal-form-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  flex-direction: column;
  display: flex;
}

.modal-form__field-description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--tertiary-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.input-icon {
  width: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--transition-timing-function);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  cursor: pointer;
  transition: var(--transition-timing-function);
  color: var(--modal-ptimary-text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form__input:focus + .modal-form-input-icon {
  fill: #2196f3;
}
.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: var(--modal-ptimary-text-color);
  transition: var(--transition-timing-function);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-castom-checkbox-icon {
  display: none;
}
.modal-form__check:checked + .modal-castom-checkbox .modal-castom-checkbox-icon {
  display: block;
}

.modal-form__check {
  cursor: pointer;
  appearance: none;
  position: absolute;
}

.modal-castom-checkbox {
  width: 16px;
  height: 15px;
  border: 0.2px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form__check:focus + .modal-castom-checkbox {
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.9);
  transition: var(--transition-timing-function);
}
.modal-form__check:checked + .modal-castom-checkbox {
  background-color: var(--accent-color);
}

.modal-form-check-field {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 20px;
}

.policy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
.policy-text:hover, .policy-text:focus {
  box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.9);
  transition: var(--transition-timing-function);
}

.hidden {
  padding: 94px 0 94px 0;
}

.characteristic__point {
  width: 270px;
}

.our-features-icon {
  width: 70px;
  height: 70px;
}

.icon-bg {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-ourfeatures {
  background: var(--primary-bg-color);
}

.our-features {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.our-features .characteristic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.our-features .point {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--tertiary-text-color);
}

.resume-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.resume {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}

.resume-box {
  position: relative;
}

.overley__resume {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.team {
  background: var(--secondary-bg-color);
  padding: 94px 0 94px 0;
  margin: 0 auto;
}

.participant-speciality {
  padding: 30px;
}

.team-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
.team-list .team__member {
  background: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .participant-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-list .specialty {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--tertiary-text-color);
}

.regular-customers {
  background: var(--primary-bg-color);
  margin: 0 auto 0 auto;
  padding: 94px 0 94px 0;
}

.page-regular-customers {
  display: flex;
  column-gap: 30px;
}

.regular-customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.regular-customers-icon-bg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-icon-color);
  transition: border-color var(--transition-timing-function), fill var(--transition-timing-function);
}
.regular-customers-icon-bg:hover, .regular-customers-icon-bg:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.page-potfolio {
  padding: 94px 0 94px 0;
}

.chapter-group {
  padding: 20px 24px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-img .portfolio-chapter {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-img .portfolio-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tertiary-text-color);
  margin-top: 4px;
}

.portfolio-img__box {
  border: 1px solid #eeeeee;
  display: block;
  transition: box-shadow var(--transition-timing-function);
}
.portfolio-img__box:hover, .portfolio-img__box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overley {
  position: absolute;
  background: var(--overley-background);
  padding: 63px 24px 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--transition-timing-function-overley);
}
.portfolio-img__box:hover .overley, .portfolio-img__box:focus .overley {
  transform: translateY(0%);
}

.overley-box {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */