:root {
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #ffffff;
  --secondary-text-color: #212121;
  --tertiary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --secondary-bg-color-dark: #2f303a;
  --primary-icon-color: #afb1b8;
  --logo-dark: #000000;
  --button-background: #2196f3;
  --button-background-hover: #188ce8;
  --link-background-hover: #188ce8;
  --overley-background: rgba(33, 150, 243, 0.9);
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--tertiary-text-color);
}
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*--------------------------  HEADER  ------------------------*/
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.nav-studio {
  display: flex;
  align-items: center;
}
.logo-element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.ligotip {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-dark);
  text-decoration: none;
}
.navilink {
  display: flex;
  column-gap: 50px;
}

.navilink a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navilink a.current {
  color: var(--accent-color);
}
.navilink a:hover,
.navilink a:focus {
  color: var(--accent-color);
  transition: color var(--transition-timing-function);
}

.menu-item {
  position: relative;
  padding: 32px 0 28px 0;
}
.navi-line::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--button-background);
  border-radius: 2px;
}
.studio-contact-header {
  column-gap: 50px;
  display: flex;
}
.mail-logo {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.mail-info {
  color: var(--tertiary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--transition-timing-function);
}
.mail-info:hover,
.mail-info:focus {
  color: var(--accent-color);
}

.tel-logo {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.tel-info {
  color: var(--tertiary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--transition-timing-function);
}
.tel-info:hover,
.tel-info:focus {
  color: var(--accent-color);
}

/*-------------------------  /HEADER  ------------------------*/

/*-------------------------  TITLE  -------------------------*/
.title {
  background: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0 200px 0;
  margin: 0 auto 0 auto;
}

.title-text {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-text-color);
}
.button-studio {
  margin: 30px auto 0 auto;
  display: block;
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-timing-function);
}
.button-studio:hover,
.button-studio:focus {
  background: var(--button-background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*-------------------------  /TITLE  -------------------------*/

/*-------------------------  VISUALLY  -------------------------*/
.hidden {
  padding: 94px 0 94px 0;
}
.characteristic-point {
  width: 270px;
}
.our-features-icon {
  width: 70px;
  height: 70px;
}
.icon-bg {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.section-ourfeatures {
  background: var(--primary-bg-color);
}
.our-features {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.our-features .characteristic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.our-features .point {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--tertiary-text-color);
}
.resume-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
.resume {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}
.resume-box {
  position: relative;
}
.overley-resume {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 224px;
}
/*-------------------------  /VISUALLY  -------------------------*/

/*-------------------------  TEAM  -------------------------*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
.team {
  background: var(--secondary-bg-color);
  padding: 94px 0 94px 0;
  margin: 0 auto;
}
.team-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
.social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  column-gap: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--primary-icon-color);
  transition: background-color var(--transition-timing-function),
    fill var(--transition-timing-function);
}
.social-link:hover,
.social-link:focus {
  background: var(--button-background-hover);
  fill: var(--primary-text-color);
}
.team-list .team-member {
  background: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.participant-speciality {
  padding: 30px;
}
.team-list .participant-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-list .specialty {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--tertiary-text-color);
}

/*-------------------------  /TEAM  -------------------------*/

/* ======================== REGULAR-CUSTOMERS ===============*/
.regular-customers {
  background: var(--primary-bg-color);
  margin: 0 auto 0 auto;
  padding: 94px 0 94px 0;
}
.page-regular-customers {
  display: flex;
  column-gap: 30px;
}
.regular-customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.regular-customers-icon-bg:hover,
.regular-customers-icon-bg:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-customers-icon-bg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-icon-color);
  transition: background-color var(--transition-timing-function),
    fill var(--transition-timing-function);
}

/* ======================== /REGULAR-CUSTOMERS ===============*/

/*-------------------------  FOOTER STUDIO - PORTFOLIO  -------------------------*/

.footer-studio-portfolio {
  padding: 60px 0px 60px 0px;
  background: var(--secondary-bg-color-dark);
  text-decoration: none;
  margin: 0 auto;
}
.logo-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-decoration: none;
}
.footercontact a:hover,
.footercontact a:focus {
  color: var(--accent-color);
}
.contact-studio-portfolio {
  margin-top: 20px;
}
.maps-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  transition: color var(--transition-timing-function);
}
.maps-studio-portfolio {
  margin-bottom: 9px;
}
.mailinfo-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-footer-color);
  transition: color var(--transition-timing-function);
}
.mail-studio-portfolio {
  margin-bottom: 9px;
}
.telinfo-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-footer-color);
  transition: color var(--transition-timing-function);
}
.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-icon-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-text-color);
  transition: background-color var(--transition-timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--button-background-hover);
}
.cont-footer-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 70px;
}
.container-list {
  display: flex;
  align-items: baseline;
}
/* ======================= / FOOTER STUDIO - PORTFOLIO==================== */

/*-------------------------  PORTFOLIO HEADER  -------------------------*/

.page-portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
.portfolio-logo-element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.portfolio-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-dark);
}
.portfolio-nav {
  display: flex;
  align-items: center;
}
.line-link {
  position: relative;
  padding: 32px 0 28px 0;
}
.portfolio-navigation {
  display: flex;
  column-gap: 50px;
}
.portfolio-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-timing-function);
}
.portfolio-navigation a.current {
  color: var(--accent-color);
}
.portfolio-navigation a:hover,
.portfolio-navigation a:focus {
  color: var(--accent-color);
}
.contact-logo-mail {
  width: 16px;
  height: 12px;
  padding: auto;
}
.potfolio-contacts {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
}
.potfolio-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
  transition: color var(--transition-timing-function);
}
.potfolio-contacts a:hover,
.potfolio-contacts a:focus {
  color: var(--accent-color);
}
/* ==========================/PORTFOLIO HEADER =========================*/
/* =========================== PORTFOLIO BUTTON ======================== */
.page-potfolio {
  padding: 94px 0 94px 0;
}
.portfolio-button {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}

.portfolio-button button:hover,
.portfolio-button button:focus {
  background-color: var(--button-background);
  cursor: pointer;
  color: var(--primary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button button {
  background: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color var(--transition-timing-function),
    background-color var(--transition-timing-function);
}
/* =========================== /PORTFOLIO BUTTON ======================== */
/* =========================== PORTFOLIO IMAGES =========================*/
.chapter-group {
  padding: 20px 24px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-box {
  border: 1px solid #eeeeee;
  display: block;
  transition: box-shadow var(--transition-timing-function);
}
.portfolio-box:hover,
.portfolio-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img .portfolio-chapter {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-img .portfolio-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tertiary-text-color);
}
.portfolio-group {
  margin-top: 4px;
}
.overley {
  position: absolute;
  background: var(--overley-background);
  padding: 63px 24px 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--transition-timing-function);
}
.overley-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box:hover .overley,
.portfolio-box:focus .overley {
  transform: translateY(0%);
}
/* =========================== /PORTFOLIO IMAGES =========================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  transition: opacity 500ms ease, visibility 500ms ease;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
