:root {
    --accent-color: #2196F3; 
    --primary-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #212121;
    --tertiary-text-color: #757575;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --secondary-bg-color-dark: #2F303A ;
    --logo-dark: #000000;
    --button-background: #2196F3;
    --button-background-hover: #188CE8;
    --contact-footer-color: rgba(255, 255, 255, 0.6);  
}
body {
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
    color: var(--tertiary-text-color);
}
.link
{
    text-decoration: none;
}
img {
    display: block;
}
ul {
    list-style: none;
}
.header {
    background:var(--primary-bg-color);
}
.visually-hidden { 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; height: 1px; 
    overflow: hidden; 
    border: 0; 
    padding: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    margin: -1px; 
}
.logo-element {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color); 
}
.ligotip {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-dark);
    text-decoration: none;
}
.navilink a  {
    color:  var(--secondary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }
 .navilink a.current {
    color: var(--accent-color); 
}
 .navilink a:hover,
 .navilink a:focus{
    color: var(--accent-color); 
 }
 .mail-info {
    color: var(--tertiary-text-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.mail-info:hover,
.mail-info:focus {
    color: var(--accent-color); 
}
.tel-info{
    color: var(--tertiary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.tel-info:hover,
.tel-info:focus {
    color: var(--accent-color); 
}
 .title {
    background: var(--secondary-bg-color-dark);    
}
.title-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-text-color);
}
 .button-studio {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
}
.button-studio:hover,
.button-studio:focus {
    background: var(--button-background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}
.our-features .characteristic {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:  var(--secondary-text-color); 
}
.our-features .point {
    font-size: 14px;
    line-height: 1.71;
    color: var(--tertiary-text-color);
}
.resume-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:  var(--secondary-text-color); 
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:  var(--secondary-text-color); 
}
.team {
    background: var(--secondary-bg-color);
}
.team-list li {
    background:var(--primary-bg-color);
}
.team-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:  var(--secondary-text-color); 
}
.team-list p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--tertiary-text-color);
}
.footer-studio {
    background: var(--secondary-bg-color-dark);    
    text-decoration: none;
}
.logo-web {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color); 
}
.footer-logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);
    text-decoration: none;
}
.footercontact a:hover,
.footercontact a:focus {
    color: var(--accent-color); 
}
.maps-footer {
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
.mailinfo-footer {
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71; 
    color: var(--contact-footer-color);  
}
.telinfo-footer {
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contact-footer-color);  
}

.portfolio-header {
    background:var(--primary-bg-color);
}
.portfolio-logo-element {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color); 
}
.portfolio-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--logo-dark);
}
.portfolio-navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color); 
}
.portfolio-navigation a.current{
    color: var(--accent-color); 
}
.portfolio-navigation a:hover,
.portfolio-navigation a:focus {
    color: var(--accent-color); 
}   
.potfolio-contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tertiary-text-color);
}
.potfolio-contacts a:hover,
.potfolio-contacts a:focus{
    color: var(--accent-color); 
}
.portfolio-button button:hover,
.portfolio-button button:focus {
    background-color: var(--button-background);
    cursor: pointer;
    color: var(--primary-text-color);
}
.portfolio-button button {
    background: var(--secondary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:  var(--secondary-text-color); 
}
.portfolio-img .portfolio-chapter {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:  var(--secondary-text-color); 
}
.portfolio-img .portfolio-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--tertiary-text-color);
}
.portfolio-address a:hover,
.portfolio-address a:focus{
    color: var(--accent-color); 
}
.portfolio-footer{
    background: var(--secondary-bg-color-dark);    
}
.footer-logo-element{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color); 
}
.portfolio-footer-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
.portfolio-footer-mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contact-footer-color);  
}
.portfolio-footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contact-footer-color);  
}



