.page-potfolio {
  padding: 94px 0 94px 0;
}
.chapter-group {
  padding: 20px 24px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  & .portfolio-chapter {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
  }
  & .portfolio-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--tertiary-text-color);
    margin-top: 4px;
  }
}
.portfolio-img__box {
  border: 1px solid #eeeeee;
  display: block;
  transition: box-shadow var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.overley {
  position: absolute;
  background: var(--overley-background);
  padding: 63px 24px 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--transition-timing-function-overley);
  .portfolio-box:hover &,
  .portfolio-box:focus & {
    transform: translateY(0%);
  }
}

.overley-box {
  position: relative;
  overflow: hidden;
}
