@media screen and (max-width: 767px) {
  .regular-customers {
    background: var(--primary-bg-color);
    margin: 0 auto 0 auto;
    padding: 60px 0 60px 0;
  }
  .page-regular-customers {
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  .regular-customers-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .customers__item {
    margin-top: 30px;
  }
  .regular-customers-icon-bg {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--primary-icon-color);
    transition: border-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .regular-customers {
    background: var(--primary-bg-color);
    margin: 0 auto 0 auto;
    padding: 60px 0 60px 0;
  }
  .page-regular-customers {
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  .regular-customers-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .customers__item {
    margin-top: 30px;
  }
  .regular-customers-icon-bg {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 226px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--primary-icon-color);
    transition: border-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers {
    background: var(--primary-bg-color);
    margin: 0 auto 0 auto;
    padding: 94px 0 94px 0;
  }
  .page-regular-customers {
    display: flex;
    column-gap: 30px;
  }
  .regular-customers-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
  }
  .regular-customers-icon-bg {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--primary-icon-color);
    transition: border-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
