
// FOOTER (PAGE STUDIO-PORTFOLIO)

.footer-studio-portfolio {
    padding: 60px 0px 60px 0px;
    background: var(--secondary-bg-color-dark);
    text-decoration: none;
    margin: 0 auto;
  }
  .container-list {
    display: flex;
    align-items: baseline;
  }