// PAGE_STUDIO
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
}
//   PAGE-PORTFOLIO

.page-portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
