// PAGE-STUDIO
.studio-contact-header {
  column-gap: 50px;
  display: flex;
}
.mail__logo {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.mail__info {
  color: var(--tertiary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel__logo {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.tel__info {
  color: var(--tertiary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
//   PAGE-PORTFOLIO
.contact-logo-mail {
  width: 16px;
  height: 12px;
  padding: auto;
}
.potfolio-contacts {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
  & .mail-tel-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tertiary-text-color);
    transition: color var(--transition-timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
