@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
    background: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 118px 0 118px 0;
  }
  .title-text {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/tablet/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 118px 0 118px 0;
  }
  .title-text {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/desktop/header/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 200px 0 200px 0;
  }
  .title-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-text-color);
  }
  .button-studio {
    margin: 30px auto 0 auto;
    display: block;
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/header/background@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/tablet/header/background@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/desktop/desktop.background@2x.jpg);
  }
}
