// PAGE SOCIAL LIST

@media screen and (max-width: 768px) {
  .social-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    column-gap: 10px;
  }
  .social__icon {
    width: 20px;
    height: 20px;
  }
  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: var(--primary-icon-color);
    transition: background-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      fill: var(--primary-text-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .social-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    column-gap: 10px;
  }
  .social__icon {
    width: 20px;
    height: 20px;
  }
  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: var(--primary-icon-color);
    transition: background-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      fill: var(--primary-text-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .social-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    column-gap: 10px;
  }
  .social__icon {
    width: 20px;
    height: 20px;
  }
  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: var(--primary-icon-color);
    transition: background-color var(--transition-timing-function),
      fill var(--transition-timing-function);
    &:hover,
    &:focus {
      background: var(--button-background-hover);
      fill: var(--primary-text-color);
    }
  }
}
// FOOTER SOCIAL LIST

.cont-footer-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 70px;
}
.footer-social-icon-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.footer-social__icon {
  width: 20px;
  height: 20px;
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-text-color);
  transition: background-color var(--transition-timing-function);
  &:hover,
  &:focus {
    background: var(--button-background-hover);
  }
}
