h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--tertiary-text-color);
  min-width: 480px;
}
