:root {
    --accent-color: #2196f3;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #ffffff;
    --secondary-text-color: #212121;
    --tertiary-text-color: #757575;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --secondary-bg-color-dark: #2f303a;
    --primary-icon-color: #afb1b8;
    --logo-dark: #000000;
    --modal-ptimary-text-color: #000000;
    --button-background: #2196f3;
    --button-background-hover: #188ce8;
    --link-background-hover: #188ce8;
    --overley-background: rgba(33, 150, 243, 0.9);
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-timing-function-overley: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }